@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/fonts/stylesheet.css");

.font-700 {
  font-family: "Futura PT Bold" !important;
  font-weight: 700 !important;
}
.font-400 {
  font-family: "Futura PT Book" !important;
  font-weight: normal !important;
}
.font-300 {
  font-family: "Futura PT" !important;
  font-weight: 300 !important;
}
.color-white {
  color: #fff !important;
}
.color-black {
  color: #373737 !important;
}
.color-blue {
  color: #1babe3 !important;
}
.color-gray {
  color: #858585 !important;
}
.bg-blue {
  background: #1babe3 !important;
}

html {
  overflow-x: hidden;
}

body {
  background: #fbfbfb;
  font-family: "Futura PT Bold" !important;
  font-weight: 700 !important;
  font-style: normal;
  overflow-x: hidden;
}

* {
  font-family: "Futura PT" !important;
  font-weight: bold !important;
  line-height: 1.2;
  scroll-behavior: smooth;
  outline: none;
}

.title {
  font-size: 92px;
  position: relative;
}

.show-more {
  display: flex;
  align-items: center;
  column-gap: 12px;
  background: #1babe3;
  box-shadow: 0px 1px 17px rgba(27, 171, 227, 0.25);
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  max-width: max-content;
  padding: 12px 18px;
  transition: all 0.4s;
}
.show-more:hover {
  box-shadow: unset;
}
.show-more > svg {
  transition: all 0.4s;
}
.show-more:hover > svg {
  transform: rotate(-45deg);
}

ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
button {
  outline: none;
}
input {
  outline: none;
}

@media (min-width: 767px) and (max-width: 1000px) {
  .title {
    font-size: 72px;
    line-height: 1;
  }
  .agreement-container .title{
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 1;
  }
  .agreement-container .title{
    font-size: 30px;
  }
}
